/* Estilo básico para la página de perfil */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(22, 32, 50);
    color: white;
    margin: 0;
    padding: 0;
}

.profile-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2e3b4e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.btn {
    background-color: #4CAF50; /* Color verde */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.btn:hover {
    background-color: #45a049;
}

a.btn {
    text-decoration: none;
}

a {
    display: block;
    margin-top: 10px;
}